.TextDispArea {
	-fx-background-color: #FFFFFF;
	-fx-padding:0 5 0 5;
}

.highlightedText {
	-fx-stroke: #000000
}

.fatalText {
	-fx-fill: #e00000;
	-fx-stroke: #e00000;
	-fx-stroke-width: 1;
}

.errorText {
	-fx-fill: #ff0000;
	-fx-stroke: #ff0000;
}

.warnText {
	-fx-fill: #890d0d;
}

.debugText {
	-fx-fill: #595959;
}

.traceText {
	-fx-fill: #c4c0c0;
}


.aboutTopBox{
	-fx-background-color: #FFFFFF;
	-fx-padding:20;
}

.aboutImg{
	-fx-padding:20;
}
